 *{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#f5f7ff;
}

.container{
    justify-content:center;
    gap:1rem;
    margin-top:30px;
    align-items:center;
    justify-content:center;
    padding:1rem;
    flex-wrap: wrap;
    width:90%;
    text-align:center;
}


h1{
    font-size:25px;
    color:#1846b3;
    align-items: center;
}

.subtitle{
    color:gray;
    margin:15px 0 40px;
}

.cards{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
    margin-top:40px;
}

.card{
    width:320px;
    background:white;
    border-radius:15px;
    box-shadow:0 5px 15px rgb(228, 16, 214);
    padding:20px;
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
    color:rgb(0, 14, 121);
    box-shadow:0 5px 15px rgb(134, 52, 13);
}

.card img{
    width:100%;
    height:220px;
    object-fit:cover;
    border-radius:10px;
}

.card h2{
    margin:5px 4px;
    display: flex;
}

.card p{
    color:#666;
   display: flex;
}
button{
    width:100%;
    padding:12px;
    border-radius:8px;
    background:#1846b3;
    color:white;
    cursor:pointer;
    font-size:16px;
    margin-bottom: auto;
}
.date{
    display:flex;
    justify-content:left;
    background: #edf4ff;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    gap:10px;
    width:50%;
}
.info{
    margin:20px 0;
    display:flex;
    flex-direction: column;
    gap:10px;
    color:#444;
    margin-right:100px;
}
button:hover{
    background:#0f2d75;
}