.image-container img{
  width: 100px;  
}

.container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: beige;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.5rem;
    flex-wrap: wrap;
}

.menu-bar{
    display: flex;
    gap: 20px;
    list-style: none;
}
button{
    padding: 10px 20px;
   border-radius: 5px;
}